body{
    position: relative;
    font-family: 'Inter';
    background: radial-gradient(
     rgba(255, 31, 0, 0.2) 0%, rgba(250, 253, 87, 0.2) 100%), #E9E7B8;
}
header{
    font-family: 'Inter';
    font-size: 200px;
    text-align: center;
    margin: 7%;
}
#myNavigator {

    
    margin: 0;
    padding: 0;
    width: 20%;
    height: 100%;
    background-color: #f1f1f1;
    float: left;
    margin-top: 20px;
    background: radial-gradient(100% 100% at 100% 100%, rgba(123, 240, 123, 0.2) 0%, rgba(189, 217, 189, 0.2) 100%), rgba(255, 255, 255, 0.5);
}

#myNavigator li a {
    
    color:#413737;
    padding: 8px 16px;
    font-family: 'Inter';
    font-style: italic;
    font-size:30px ;
    display: inline-block;
    text-align: center;
}

#myNavigator li p{
    display: inline-block;
   
}

#myNavigator li a:hover {

    background: #BDD9BD;
    border-radius: 0px 100px 100px 0px;
}

#myNavigator li ul {
    display: none;
    
}

#myNavigator li:hover ul {
    display: block;
}


  #myContent {
      margin-left: 220px;
  }
  
  #myContent div {
      padding: 16px;
  }

  .category {
    font-family: 'Inter';
    margin: 20px;
    padding: 5px;
    background-color: bisque;
    float:inline-start;
    width: 15%;

  }

  .container{

    padding: 10;
    
  }

  .myProfileIcon {
    position: absolute;
    top: 8px;
    right: 16px;
}

.myProfileIcon img {
    width: 32px;
    height: 32px;
}

.myProfileIcon ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;
    
}

.myProfileIcon li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    
}

.myProfileIcon:hover ul {
    display: block;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
   margin-top: 5%;
   padding-top: 5%;
   font-family: 'Inter';
}