* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
  }
  
  body {
    width: 100vw;
    text-align: center;
    padding-top: 10px;
    font-family: 'Inter';
    font-weight: lighter;
    background: radial-gradient(
     rgba(255, 31, 0, 0.2) 0%, rgba(250, 253, 87, 0.2) 100%), #E9E7B8;
  }
  
  header{
    font-family: 'Inter';
    font-size: 150px;
    text-align: center;
    margin: 5%;
}
  /* CONTAINER FOR ALL CARDS */
  .cards-container {
    width: 100%;
    border-radius: 10px;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
  }
  
  /* ALL CARDS  */
  .flip-card {
    width: 900px;
    height: 600px;
    border-radius: 20px;
    perspective: 1000px;
    background-color: transparent;
    overflow: hidden;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: 0.6s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card:hover {
    cursor: pointer;
  }
  
  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  /* CONTENT STYLING */
  .flip-card-front,
  .flip-card-back {
    display: grid;
    place-items: center;
  }
  
  .flip-card-front {
    display: grid;
    place-items: center;
    border: 1px solid rgba(151, 149, 149, 0.466);
    border-radius: 10px;
  }
  
  .flip-card-back {
    background-color:peachpuff;
    transform: rotateY(180deg);
    box-shadow: 10px 10px 10px rgb(241, 202, 155);
    border-radius: 10px;
  }
  
  .flip-card-front img {
    width: 90%;
    height: auto;
    background-size: cover;
  }
  
  .flip-card-back h3 {
    color: black;
    font-size: 60px;
    font-family: 'Inter';
    font-weight: lighter;
  }
  
  /* End CSS */
  
  .card-4 img {
    width: 70%;
  }

  .myProfileIcon {
    position: absolute;
    top: 8px;
    right: 16px;
}

.myProfileIcon img {
    width: 32px;
    height: 32px;
}

.myProfileIcon ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;
    
}

.myProfileIcon li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    
}

.myProfileIcon:hover ul {
    display: block;
}
  footer {
    color: gray;
  }
  