body{
    font-family: 'Inter';
}
header{
    text-align: center;
}
h1{
    font-size: 150px;
    text-align: center;
}
.Type{
    text-align: center;
    font-size: 30px;
    margin: 20px;
    padding: 20px;
    
    width: 600px;
    height: 400px;
    float: left;
    background-color: antiquewhite ;
    opacity: 0.3;

   
}