.tarif-listesi{
   justify-content: center;
}
.tarif-bilgi{
   display: flex;
   flex-direction: row;
}
.ekle-box{
   margin: auto;
   margin-top: 7%;
   margin-bottom: 10%;
   width: 60%;
   min-height: 240px;
   background: transparent;
   /**border: 2px solid rgba(255, 255, 255, .5);**/
   border-radius: 20px;
   backdrop-filter: blur(20px);
   box-shadow: 0 0 30px rgba(0, 0, 0, .5);
 
}
.form-label{
   margin-top: 2%;
   margin-left: 3%;
   font-size: larger;
   font-weight: 500;
}

.form-control{
   margin-left: 3%;
   max-width: 95%;
   background: none;
   border: none;
   border-bottom: 2px solid #162938;
   border-radius: 0;
}
.form-control:focus{
   background: none;
}

button{
   margin-left: 3%;
   margin-top: 2%;
   max-width: 95%;
}
#category{
   margin-top: 2%;
   margin-left: 3%;
}

.tarif-box{
   background-color:wheat;

   margin: auto;
   margin-top: 7%;
   width: 80%;
   min-height: 240px;

   background: transparent;
   border: 2px solid rgba(255, 255, 255, .5);
   border-radius: 20px;
   backdrop-filter: blur(20px);
   box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  
}

.tarif-adi{
   margin-left: 3%;
   margin-top: 2%;
   margin-bottom: 2%;
}
.malzeme{
   margin-right: 4%;
}
li{
   font-size:larger;
}
